@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

/* Ini adalah aturan Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
  background-color: black;
  box-sizing: border-box;
}